<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenido a Oxford!</title>
  </head>

  <body style="color: black; font-weight: 600">
    <h2>Bienvenido {{ alumno.nombre }} a Oxford!</h2>
    <p>Te encuentras Inscripto en el siguiente curso:</p>
    <h3 style="margin-bottom: 6px">{{ curso.nombre }}</h3>

    {% if curso.horario %}
    <ul style="padding-left: 20px; margin-top: 0">
      {% for horario in curso.horario %}
      <li
        style="
          color: blue;
          margin-bottom: 0px;
          margin-top: 4px;
          list-style: none;
        "
      >
        🕒 <b> {{ horario.diaSemana }} de {{ horario.horaInicio }} a {{
        horario.horaFin }}</b> 
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <h3 style="margin-bottom: 6px">INICIO DE CLASES:</h3>
    {% if inicio_clases %}
    <ul style="padding-left: 20px; margin-top: 0">
      <li style="margin-bottom: 0px; margin-top: 4px; list-style: none">
        📌 <b>{{ inicio_clases }}</b>
      </li>
    </ul>
    {% endif %} {% if curso.nivel and (curso.nivel.programa or
    curso.nivel.material) %}
    <h3 style="margin-bottom: 6px">ARCHIVOS ÚTILES:</h3>
    <ul style="padding-left: 20px; margin-top: 0">
      {% if curso.nivel.programa %}
      <li style="margin-bottom: 0px; margin-top: 4px; list-style: none">
      📄 <a href="{{ curso.nivel.programa }}"><b>Programa del Curso</b></a>
      </li>
      {% endif %} {% if curso.nivel.material %}
      <li style="margin-bottom: 0px; margin-top: 4px; list-style: none">
      📄 <a href="{{ curso.nivel.material }}"><b>Guía de Materiales</b></a>
      </li>
      {% endif %}
    </ul>
    {% endif %}

    <h3 style="margin-bottom: 6px">TUS DATOS:</h3>
    <ul style="padding-left: 20px; margin-top: 0">
      <li style="margin-bottom: 0px; margin-top: 4px; list-style: none">
        👤 Nombre Completo: <b>{{ alumno.nombre_completo }}</b>
      </li>
      <li style="margin-bottom: 0px; margin-top: 4px; list-style: none">
        🆔 DNI: <b>{{ alumno.dni }}</b>
      </li>
      <li style="margin-bottom: 0px; margin-top: 4px; list-style: none">
        📅 Fecha de Nacimiento: <b>{{ alumno.fecha_nacimiento }}</b>
      </li>
      <li style="margin-bottom: 0px; margin-top: 4px; list-style: none">
        📧 email: <b>{{ alumno.email }}</b>
      </li>
      <li style="margin-bottom: 0px; margin-top: 4px; list-style: none">
        📞 Celular: <b>{{ alumno.celular }}</b>
      </li>
      <li style="margin-bottom: 0px; margin-top: 4px; list-style: none">
        📞 Celular Alternativo: <b>{{ alumno.celular_alt }}</b>
      </li>
    </ul>
    <p>
      <i
        >Si alguno de estos datos es incorrecto por favor comunícate con el
        instituto para rectificarlos.</i
      >
    </p>

    <h3>Nos vemos pronto!</h3>
  </body>
</html>
